NEXT_PUBLIC_SUPABASE_URL=https://pmmkvbnylgfpyszhqdzv.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_6_9Ygk2mFtUmZG6vb7RnaA_5xdg3rR8
R2_ACCOUNT_ID=8d8fceadb802f1ef4bf1b4c06872d2c2
R2_ACCESS_KEY_ID=beb9a8d0d18f03d25e85546338d93066
R2_SECRET_ACCESS_KEY=773ae004fcde9e45a2cf6263f6d7d063ec90c2ea2fbdb0e58eee2b3bc10f93ac
R2_BUCKET_NAME=ldce-student-resources
NEXT_PUBLIC_SITE_URL=http://localhost:3000
